<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ProjectECom/

    # Kalau file / folder fisik ada, langsung akses
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Selain itu, lempar ke index.php (CodeIgniter)
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
